/* Write your CSS code here */

.blog-item {
  list-style-type: none;
}

.blog-item-sec-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.blog-item-title {
  font-weight: bold;
  color: #12022f;
}

.blog-item-date {
  color: #9aa5b1;
}

.blog-item-description {
  color: #616e7c;
}
