.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 150px;
  height: 150px;
}

.profile-name {
  font-weight: bold;
  color: #12022f;
}

.profile-description {
  color: #9aa5b1;
}
